[submodule "renderkit"]
	path = src/deps/renderkit
url=https://github.com/foxnne/zig-renderkit
[submodule "gamekit/deps/imgui/cimgui"]
	path = gamekit/deps/imgui/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "src/deps/imgui/cimgui"]
	path = src/deps/imgui/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "src/deps/flecs"]
	path = src/deps/flecs
	url = https://github.com/foxnne/zig-flecs.git
[submodule "src/deps/zig-network"]
	path = src/deps/zig-network
	url = https://github.com/foxnne/zig-network.git
