[submodule "renderkit"]
	path = src/deps/renderkit
url=https://github.com/prime31/zig-renderkit
[submodule "gamekit/deps/imgui/cimgui"]
	path = gamekit/deps/imgui/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "src/deps/imgui/cimgui"]
	path = src/deps/imgui/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "src/deps/ecs"]
	path = src/deps/ecs
	url = https://github.com/prime31/zig-ecs.git
[submodule "src/deps/flecs"]
	path = src/deps/flecs
	url = https://github.com/prime31/zig-flecs.git
